<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Environments" type="PaulSodimu.Framework.Setup.EnvironmentsDataSection, PaulSodimu.Framework" />
  </configSections>

  <appSettings>

    <add key="ErrorCaptureLocation" value="C:\Temp\"/>

    <!--Choose browser to run test-->

    <!--<add key="Browser" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>-->
    <add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver"/>
    <!--<add key="Browser" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>-->

  </appSettings>

  <Environments>
    
    <!--Prod-->
    <!--<Environment>
      <add name="HomePage" url="https://secure.fleetio.com/users/sign_in" pageTitle="Log in - Fleetio" />
    </Environment>-->

    <!--Dev-->
    <Environment>
      <add name="LoginPage" url="https://secure.fleetio.com/users/sign_in" pageTitle="Log in - Fleetio" />
    </Environment>

  </Environments>
  
  
</configuration>